.App {
  min-height: 100vh;
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, footer {
  width: 100%;
  height: 70px;
  background: #ffffff;
}

.content-wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.App__dark {
  background: #666671;
  color: #ffffff;
}

.header-footer__dark {
  background: black;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .content-wrapper {
    width: 1024px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .content-wrapper {
    width: 769px;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    width: 320px;
  }

  main > .content-wrapper {
    width: 100%;
  }
}
