* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset {
    margin: 20px 10px;
    padding: 20px;
    width: 400px;
}

.gallery {
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 300px;
    height: 300px;
}
