.App {
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "header header"
    "aside  main"
    "footer footer";
  grid-template-rows: 80px auto 40px;
  grid-template-columns: 240px 1fr;
  gap: 10px;
  font-family: Arial;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
