.userlist__container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.pages__container {
    display: flex;
    justify-content: space-between;
}

.pages__changer {
    display: flex;
    gap: 2px;
}

label {
    font-size: 30px;
}

.label_dark {
    color: white;
}

.theme-changer {
    width: 20px;
    height: 20px;
}
