* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 10px;
    border-collapse: collapse;
}

caption {
    margin-bottom: 10px;
    font-size: 20px;
}

th, td {
    width: 200px;
    border: 1px solid black;
}

td {
    text-align: center;
}

button {
    margin: 10px;
    padding: 2px 5px;
}

.next-btn {
    margin-left: 0;
}