* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "aside  main"
        "footer footer";
    grid-template-rows: 80px auto 40px;
    grid-template-columns: 240px 1fr;
    gap: 10px;
    font-family: Arial;
}

.header {
    grid-area: header;
    width: 100%;
    padding: 20px 10px;
    background: #009a58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__text_size_30 {
    font-size: 30px;
}

.header__text_color_white {
    color: white;
}

.theme-change {
    color: white;
}

.loader {
    position: absolute;
    top: 30px;
    right: 140px;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

.loader_opacity_70 {
    opacity: 0.7;
}

.loader__text {
    animation: blinking 1s ease-in infinite alternate;
}

@keyframes blinking {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loader__text_size_10 {
    font-size: 10px;
}

.loader__text_color_white {
    color: white;
}

.loader__container {
    width: 50px;
    height: 4px;
    border: 1px solid white;
    border-radius: 20%;
}

.loader__line {
    height: 100%;
    border-radius: 20%;
    background: white;

    animation: line 3s linear infinite;
}

@keyframes line {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.side-bar {
    grid-area: aside;
    padding: 10px;
}

.side-bar_bg_grey {
    background: #f2f2f2;
}

.outer-list {
    list-style-type: none;
}

.inner-list {
    list-style-type: none;
    margin-left: 30px;
}

.main {
    grid-area: main;
    margin-top: 20px;
    padding: 10px;
}

.main__first-header, .main__second-header, .main__text {
    margin-left: 10px;
}

.main__first-header {
    margin-bottom: 10px;
}

.main__text {
    margin-bottom: 30px;
}

.main__second-header {
    margin-bottom: 30px;
}

.type-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-bottom: 30px;
}

.type-container__block {
    padding: 20px 10px;
}

.type-container__block_bg_gray {
    background: #f2f2f2;
}

.block__text {
    margin-top: 5px;
}

.block__text_color_gray {
    color: #666671;
}

.block__link {
    margin-left: 10px;
}

.block__link_color_blue {
    color: #0099cc;
}

.block__link:link, .block__link:visited {
    text-decoration: underline;
}

.block__link:hover {
    text-decoration: none;
}

.fish-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.fish-container__block {
    padding: 10px;
    display: grid;
    grid-template-areas: 
        "photo link ."
        "photo buy  .";
    grid-template-columns: 70px 100px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    transition: background 1s linear;
}

.fish-container__block_bg_gray {
    background: #f2f2f2;
}

.fish-container__block:hover {
    background: #d2ffd2;
}

.block__photo {
    grid-area: photo;
    width: 70px;
    height: 70px;
    background: #c2c2c2;
}

.fish-link {
    grid-area: link;
}

.block__buy {
    grid-area: buy;
    width: 72px;
    padding-top: 5px;
}

.block__buy_bg_gray {
    background: #c2c2c2;
}

.buy__link {
    display: block;
    color: black;
    text-align: center;
}

.buy__link_color_black {
    color: black;
}

.buy__link:link, .buy__link:visited {
    text-decoration: none;
}

.buy__link:hover {
    font-weight: bold;
}



.footer {
    grid-area: footer;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
}

.footer__text_color_gray {
    color: #666666;
}

.footer__link_color_gray {
    color: #666666;
}

.footer__link:link, .footer__link:visited {
    text-decoration: none;
}

.footer__link:hover {
    font-weight: bold;
}

@media (min-width: 769px) and (max-width: 1200px) {
    .fish-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (min-width: 521px) and (max-width: 768px) {
    .type-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }

    .fish-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
    }

    .fish-container__block {
        padding: 3px;
        grid-template-areas: 
            "photo link"
            "photo buy";
        grid-template-columns: 35px 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .block__photo {
        width: 35px;
        height: 35px;
    }

    .block__buy {
        width: 60px;
    }
}

@media (max-width: 520px) {
    body {
        grid-template-areas: 
            "header"
            "main"
            "footer";
        grid-template-rows: 80px auto 40px;
        grid-template-columns: 100vw;
    }

    .side-bar {
        display: none;
    }

    .fish-container__block {
        grid-template-areas: 
            "photo link"
            "photo buy";
        grid-template-columns: 40px 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .block__photo {
        width: 40px;
        height: 40px;
    }
}

