* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header header"
        "aside  main"
        "footer footer";
    grid-template-rows: 80px 85vh 40px;
    grid-template-columns: 250px 1fr;
    gap: 10px;
    font-family: Arial;
}

header {
    grid-area: header;
    padding: 20px 10px;
    background: #009a58;
    font-size: 30px;
    color: white;
}

aside {
    grid-area: aside;
    background: #f2f2f2;
    padding: 10px;
}

aside ul {
    list-style-type: none;
}

aside ul li ul {
    margin-left: 30px;
}

main {
    grid-area: main;
    margin-top: 20px;
    padding: 10px;
}

main h1, main h2, main p {
    margin-left: 10px;
}

main h1 {
    margin-bottom: 10px;
}

main > p {
    margin-bottom: 30px;
}

main h2 {
    margin-bottom: 30px;
}

.type__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-bottom: 30px;
}

.type__block {
    padding: 20px 10px;
    background: #f2f2f2;
}

.type__block p {
    margin-top: 5px;
    color: #666671;
}

a {
    color: #0099cc;
    text-decoration: underline;
    margin-left: 10px;
}

a:link, a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.fish__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.fish__block {
    background: #f2f2f2;
    padding: 10px;
    display: grid;
    grid-template-areas: 
        "photo link ."
        "photo buy  .";
    grid-template-columns: 70px 100px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.photo {
    grid-area: photo;
    width: 70px;
    height: 70px;
    background: #c2c2c2;
}

.photo a {
    grid-area: link;
}

.buy {
    grid-area: buy;
    width: 72px;
    background: #c2c2c2;
    padding-top: 5px;
}

.buy a {
    display: block;
    color: black;
    text-decoration: none;
}

.buy a:hover {
    font-weight: bold;
}



footer {
    grid-area: footer;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    color: #666666;
    background: #f2f2f2;
}